include:
    - ${COMPOSE_CUSTOM:-custom-default.yaml}

volumes:
    # Путь к БД redis
    redis:
    # Nodejs
    nodejs:

services:
    # Helper service, must not be run
    nginx_base:
        image: nginx:alpine
        profiles: [ _helper_service ]
        volumes:
            - ${CONF_NGINX}:/etc/nginx/nginx.conf
            - ${CONF_HOSTS}:/etc/nginx/conf.d:ro
            - ${DATA_HOSTS}:/var/www
            - ${CERTBOT_WEB}:/var/www/certbot/:ro
            - ${CERTBOT_SSL}:/etc/nginx/ssl/:ro
        ports:
            - "80:80"
            - "443:443"
        entrypoint: /bin/sh
        command: -c 'while :; do sleep 6h && wait $${!}; nginx -s reload; done & nginx -g "daemon off;"'
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "nginx"

    # Nginx service with websockets on
    nginx_ws:
        container_name: nginx
        profiles: [ nginx_ws ]
        extends:
            service: nginx_base
        ports:
            # WS HTTP/S INFO PORT
            - "8085:8085"
            - "8485:8485"
            # WS/WSS PORT
            - "8033:8033"
            - "8433:8433"

    # Nginx service with websockets off
    nginx:
        container_name: nginx
        profiles: [ nginx ]
        extends:
            service: nginx_base

    #https://mindsers.blog/en/post/https-using-nginx-certbot-docker/
    certbot:
        image: certbot/certbot:latest
        container_name: certbot
        profiles: [ prod ]
        # Unable to create new certs, doesn't work - $ make certbot.create
        #entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        #user: ${UID:-1000}:${GID:-1000}
        volumes:
            - ${CERTBOT_WEB}:/var/www/certbot/:rw
            - ${CERTBOT_SSL}:/etc/letsencrypt/:rw
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "certbot"

    fpm:
        build:
            context: .
            dockerfile: ./images/php-fpm/Dockerfile
            args:
                # build context only
                php_version: ${PHP_VERSION:-8.3}
                allow_xdebug: ${ALLOW_XDEBUG:-1}
        container_name: php-fpm
        profiles: [ main ]
        environment:
            # service container environment
            - PHP_VERSION=${PHP_VERSION:-8.3}
            - XDEBUG_PORT=${XDEBUG_PORT:-9001}
            - UID=${UID:-1000}
            - GID=${GID:-1000}
        volumes:
            - ${DATA_HOSTS}:/var/www
            - ${DATA_XDEBUG}:/tmp/xdebug
        #entrypoint: [ "/entrypoint.sh" ]
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "fpm"

    crontab:
        build:
            context: .
            dockerfile: ./images/php-cron/Dockerfile
            args:
                - php_version=${PHP_VERSION:-8.3}
                - allow_xdebug=${ALLOW_XDEBUG:-1}
        container_name: php-cron
        profiles: [ main ]
        environment:
            PHP_VERSION: ${PHP_VERSION:-8.3}
            XDEBUG_PORT: ${XDEBUG_PORT:-9001}
        volumes:
            - ${DATA_HOSTS}:/var/www
            - ${DATA_XDEBUG}:/tmp/xdebug
            - ${CONF_CRON}:/hosts_crontab
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "crontab"

    workers:
        build:
            context: .
            dockerfile: ./images/php-worker/Dockerfile
            args:
                - php_version=${PHP_VERSION:-8.3}
                - user=${UID:-1}
        container_name: php-worker
        profiles: [ main ]
        environment:
            PHP_VERSION: ${PHP_VERSION:-8.3}
            XDEBUG_PORT: ${XDEBUG_PORT:-9001}
            USER: ${UID:-0}
        volumes:
            - /etc/passwd:/etc/passwd
            - /etc/group:/etc/group
            - ${DATA_HOSTS}:/var/www
            - ${CONF_WORKER}:/etc/supervisor/conf.d/
        command: [ '/usr/bin/supervisord', '-c', '/etc/supervisor/supervisord.conf' ]
        #        depends_on:
        #            db:
        #                condition: service_healthy
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "workers"

    db:
        image: percona:ps-8
        container_name: db
        profiles: [ database ]
        volumes:
            - ${DATA_MYSQL}:/var/lib/mysql
            - ${CONF_MYSQL}:/etc/my.cnf.d:ro
            - ${DATA_LOG}:/var/log/mysql
        ports:
            - "${DB_PORT_MAP:-127.0.0.1:65001:65001}"
        networks:
            net:
                ipv4_address: 192.168.17.33
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
        healthcheck:
            test: [ "CMD", "mysqladmin", "-uroot", "-p$MYSQL_ROOT_PASSWORD",  "ping", "-h", "localhost" ]
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "{{.ImageName}}"

    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        container_name: phpmyadmin
        profiles: [ pma ]
        ports:
            - "${PMA_PORT_MAP:-8081:80}"
        networks:
            - net
        environment:
            MYSQL_USERNAME: root
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            UPLOAD_LIMIT: ${UPLOAD_LIMIT}
            PMA_HOST: ${PMA_HOST}
        restart: unless-stopped

    logger:
        #image: logger/logger:dev
        image: lg.gpmradio.ru:5050/web/logger/logger/logger:dev
        container_name: logger
        profiles: [ logger ]
        volumes:
            - ${CONF_LOGGER}:/etc/logger/logger.ini
            - ${LOGGER_SERVICE_LOG}:/var/log/logger
            - ${LOGGER_CLIENT_LOG}:/var/logger
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "logger"

    memcached:
        image: memcached
        container_name: memcached
        profiles: [ main ]
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "{{.ImageName}}"

    redis:
        image: redis
        container_name: redis
        profiles: [ main ]
        user: ${UID:-1000}:${GID:-1000}
        volumes:
            - ${DATA_REDIS}:/tmp/redis
            - ${CONF_REDIS}:/usr/local/etc/redis/redis.conf
        command: [ "redis-server", "/usr/local/etc/redis/redis.conf" ]
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "{{.ImageName}}"

    rabbitmq:
        image: rabbitmq:management
        container_name: rabbitmq
        profiles: [ main ]
        hostname: rabbitmq
        environment:
            - RABBITMQ_DEFAULT_USER=${RABBITMQ_USER}
            - RABBITMQ_DEFAULT_PASS=${RABBITMQ_PASSWORD}
            - RABBITMQ_SERVER_ADDITIONAL_ERL_ARGS=-rabbit log_levels [{connection,error},{default,info}] disk_free_limit ${RABBITMQ_LIMIT}
        volumes:
            - ${DATA_RABBITMQ}:/var/lib/rabbitmq
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "rabbitmq"

    nodejs:
        build:
            context: ./images/nodejs
        container_name: nodejs
        profiles: [ nginx_ws ]
        user: ${UID:-1000}:${GID:-1000}
        environment:
            - WS_PORT=${WS_PORT:-1333}
            - WS_HTTP_PORT=${WS_HTTP_PORT:-8085}
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - REDIS_CHANNEL=datatube
        volumes:
            - ${WS_DATA:-/tmp}:${WS_PATH:-/tmp/empty:ro}
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "nodejs"

    sphinx:
        build:
            context: .
            dockerfile: ./images/sphinx3/Dockerfile
        container_name: sphinx
        profiles: [ main ]
        volumes:
            - ${DATA_HOSTS}:/var/www
        networks:
            net:
                ipv4_address: 192.168.17.22
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "sphinx"

    syslog:
        image: lscr.io/linuxserver/syslog-ng:latest
        container_name: syslog
        profiles: [ main ]
        environment:
            - PUID=${UID:-1000}
            - PGID=${GID:-1000}
            - TZ=${DEFAULT_TIME_ZONE}
        volumes:
            - ${CONF_LOG}:/config/syslog-ng.conf
            - ${DATA_LOG}:/var/log #optional
        ports:
            - "127.0.0.1:514:5514/udp"
        #            - "601:6601/tcp"
        #            - "6514:6514/tcp"
        networks:
            - net
        restart: unless-stopped

    logrotate:
        image: blacklabelops/logrotate
        container_name: logrotate
        profiles: [ main ]
        user: ${LOG_ROTATE_USER:-1000}:${LOG_ROTATE_GROUP:-1000}
        environment:
            - LOGS_DIRECTORIES=/var/log/docker
            - LOGROTATE_INTERVAL=hourly
            - LOGROTATE_CRONSCHEDULE=0 */20 * * * *
            - LOGROTATE_COPIES=${LOGROTATE_COPIES:-5}
            - LOGROTATE_SIZE=${LOGROTATE_SIZE:-10M}
            - LOGROTATE_COMPRESSION=compress
            - LOGROTATE_LOGFILE=/var/log/docker/logrotatecron.log
            - LOGROTATE_STATUSFILE=/var/log/docker/logrotate.status
        volumes:
            - ${DATA_LOG}:/var/log/docker
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "logrotate"

    prometheus:
        image: prom/prometheus:latest
        container_name: prometheus
        profiles: [ metrics ]
        volumes:
            - ./config/prometheus:/etc/prometheus
            - ${DATA_PROMETHEUS}:/prometheus
        command:
            - '--config.file=/etc/prometheus/prometheus.yml'
            - '--storage.tsdb.path=/prometheus'
            - '--storage.tsdb.retention.time=7d'
            - '--web.console.libraries=/etc/prometheus/console_libraries'
            - '--web.console.templates=/etc/prometheus/consoles'
            - '--web.enable-lifecycle'
        ports:
            - "127.0.0.1:9090:9090"
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "prometheus"

    node-exporter:
        image: prom/node-exporter:latest
        container_name: node-exporter
        profiles: [ metrics ]
        volumes:
            - /proc:/host/proc:ro
            - /sys:/host/sys:ro
            - /:/rootfs:ro
        command:
            - '--path.procfs=/host/proc'
            - '--path.rootfs=/rootfs'
            - '--path.sysfs=/host/sys'
            - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
        expose:
            - 9100
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "node-exporter"

    nginx-exporter:
        image: nginx/nginx-prometheus-exporter
        container_name: nginx-exporter
        profiles: [ metrics ]
        command:
            - '--nginx.scrape-uri=http://nginx:8099/stub_status'
        expose:
            - 9113
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "nginx-exporter"

    mysql-exporter:
        image: prom/mysqld-exporter:latest
        container_name: mysqld-exporter
        profiles: [ metrics ]
        volumes:
            - ${CONF_MYSQL_EXPORTER}:/config/.my.cnf
        command:
            - '--config.my-cnf=/config/.my.cnf'
            - '--mysqld.address=db:3306'
            - '--exporter.log_slow_filter'
        environment:
            MYSQLD_EXPORTER_PASSWORD: ${MYSQL_EXPORTER_PASSWORD}
        expose:
            - 9104
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "mysqld-exporter"

    cadvisor:
        image: gcr.io/cadvisor/cadvisor:v0.52.0
        container_name: cadvisor
        profiles: [ metrics ]
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:ro
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /dev/disk/:/dev/disk:ro
            - /var/run/docker.sock:/var/run/docker.sock:ro  # Only needed on Docker Desktop for Mac
        expose:
            - 8080
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "cadvisor"

    grafana:
        image: grafana/grafana
        container_name: grafana
        profiles: [ metrics ]
        environment:
            - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
            - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
        volumes:
            - ${DATA_GRAFANA}:/var/lib/grafana
            - ${CONF_GRAFANA}:/etc/grafana/grafana.ini
        networks:
            - net
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "grafana"

    buggregator:
        image: ghcr.io/buggregator/server:latest
        container_name: buggregator
        profiles:
            - debug
        ports:
            - "8000:8000"
            - "9912:9912"
            - "9913:9913"
        networks:
            - net
        environment:
            MYSQL_USERNAME: root
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
            UPLOAD_LIMIT: ${UPLOAD_LIMIT}
            PMA_HOST: ${PMA_HOST}
        restart: unless-stopped
        logging:
            driver: "syslog"
            options:
                syslog-address: "udp://127.0.0.1:514"
                syslog-facility: "daemon"
                tag: "buggregator"

networks:
    net:
        #name: dockerNet
        driver: bridge
        ipam:
            driver: default
            config:
                -   subnet: 192.168.17.0/24
    monitoring:
        driver: bridge
