global:
    scrape_interval: 15s # Set the scrape interval to every 15 seconds. Default is every 1 minute.
    evaluation_interval: 30s # Evaluate rules every 15 seconds. The default is every 1 minute.


# A scrape configuration containing exactly one endpoint to scrape:
# Here it's Prometheus itself.
scrape_configs:
    -   job_name: 'prometheus'
        scrape_interval: 15s
        static_configs:
            -   targets: [ 'localhost:9090', 'cadvisor:8080', 'node-exporter:9100', 'nginx-exporter:9113', 'nginx:80' ]
#        static_configs:
#            -   targets: [ 'localhost:9090' ]
#    -   job_name: 'nginx'
    #        static_configs:
    #            -   targets: [ 'nginx:80' ]
    #
    #    -   job_name: 'node'
    #        static_configs:
    #            -   targets: [ 'node-exporter:9100' ]
    #
    #    -   job_name: 'cadvisor'
    #        static_configs:
    #            -   targets: [ 'cadvisor:8080' ]

    #    -   job_name: 'cadvisor'
    #        static_configs:
    #            -   targets: [ 'cadvisor:8080' ]

    #    -   job_name: 'legacy_metrics'
    #        metrics_path: /legacy/metrics
    #        static_configs:
    #            -   targets: [ 'nginx:80' ]

    #    -   job_name: 'log_based_metrics'
    #        static_configs:
    #            -   targets: [ 'mtail:3903' ]
